repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: vendor/ruff-pre-commit/ruff.sh
        language: script
        types: [python]
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: vendor/ruff-pre-commit/ruff-format.sh
        language: script
        types: [python]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.4
    hooks:
      - id: check-github-workflows
      - id: check-renovate
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: python
        require_serial: true
        types: [python]
        verbose: true
